<a href="https://colab.research.google.com/github/Sogum0503/LikeLion_DataSchool/blob/main/PYTHON/0428.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

In [1]:
def 부지매입():
  pass

def 설계도면작성():
  pass

def 인력모집():
  pass

def 벽돌쌓기():
  pass

def 지붕올리기():
  pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [3]:
# 파선아실(파라미터는 선언, 아규먼트는 실제 값)
def function(x,y):
  z = x + y
  return z 

print(f'function(5,7) = {function(5,7)}')

function(5,7) = 12

In [5]:
# 같은 코드 1
def function(x, y):
  z = x + y
  # return None
print(f'function(5,7) = {function(5,7)}')

function(5,7) = None

In [9]:
# 전혀 다른 코드
# print와 return은 다릅니다!

def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [10]:
def function():
    print('hello')
    print('hello')
    print('hello')
    print('hello')

print(function())

hello
hello
hello
hello
None

In [26]:
'''
[필수 문법]
함수는 원래 return이라는 할당을 받아야 하는데, 
[원인]
해당 function(x, y)에는 return이 없고 출력을 위한 print구문만 있는 상황입니다.
[결과]
1) 12가 출력된것은 def내에 있는 print(z)가 x +y의 값으로 인해 출력은 되었지만
2) def function(x,y)의 결과인 return은 있지 않아 그 결과인 None이 출력된것 입니다. 
함수에서는 return의 유무를 주의하세요~
'''

def function(x, y): # Input
    z = x + y       # Function
    print(z)        # Output?
    return None

print(f'function(5, 7) = {function(5, 7)}')

12
function(5, 7) = 12

In [16]:
def function(x, y):
    print('hello')
    print('hello')
    print('hello')
    print('hello')
    return x + y

x = function(1, 1)
print(x + x)

hello
hello
hello
hello
4

In [17]:
def function1(x):
    print('world1')
    print('world2')
    print('world3')

def function2(x, y):
    print('hello1')
    print('hello2')
    return x + y

a = function1(1)
b = function2(3, 4)
print(a, b)

world1
world2
world3
hello1
hello2
None 7

In [18]:
def function1(x):
    print('world1')
    print('world2')
    print('world3')
    return x + x

def function2(x, y):
    print('hello1')
    print('hello2')
    z = function1(10)
    return x + y + z

a = function1(1)
b = function2(3, 4)
print(a, b)

world1
world2
world3
hello1
hello2
world1
world2
world3
2 27

In [19]:
# 함수 안에 있는 변수나 함수는 함수가 끝나면 휘발됩니다. 
# 메모리에서 사라져요.
def f2(x, y):
    def f1(x):
        print('world1')
        return x + x
    print('hello1')
    z = f1(10)
    return x + y + z

# a = f1(1) # 함수 안에 있는 함수는 밖에서 호출할 수 있지 않습니다.
b = f2(3, 4)
print(b)

# print(z) # 함수가 끝났기 때문에 x, y, z에 접근할 수 없습니다.

hello1
world1
27

In [ ]:
# 1
x = 100
def plusX(x):
    x = x + 100
    return x

print(plusX(10))

In [ ]:
# 2
x = 100
def plusX(z):
    z = z + x
    return z

print(plusX(10))

In [ ]:
# 문제가 생기는 코드
## 함수 안에서 생성된 변수는 밖에서 읽어올 수 없다 

x = 100
def plusX(z):
  x = z + x 
  return z 

print(plusX(10))

UnboundLocalError: ignored

In [ ]:
# 문제를 해결하는 코드 but 권하지 않는 코드 

x = 100
def plusX(z):
  global x # 권하지 않습니다. 타 함수에 있는 x 까지 변경될 수 있음 
  x = z + x 
  return z 

print(plusX(10))
x

10

110

In [ ]:
# 문제를 해결하는 코드 

x = 100
def plusX(x):
  return x + 10

x = plusX(x)
x

110

In [ ]:
x = 100

def plusX(z):
  # v가 x를 가리키게 되었기 때문에 수정할 수 있는 권한이 들어오지 않았을까?
  # No
  v = x
  x = z + x
  return z

In [ ]:
def changePrint():
  print = 100
  return print

changePrint()

# 재귀함수

In [ ]:
# 대부분의 코드는 for로 대체할 수 있습니다.
# 효율도 매우 좋지 않습니다. 다만 메모라이징 기법을 사용하면 좋긴 합니다.
# 다이나믹 프로그래밍 등 필수적으로 사용되는 곳이 있기도 합니다.

In [ ]:
def factorial(n):
    if n == 1:
        return n
    return n * factorial(n-1)

factorial(5)

#                 return 값
# factorial(5) == 5 * factorial(4) == 5 * 24
# factorial(4) == 4 * factorial(3) == 4 * 6
# factorial(3) == 3 * factorial(2) == 3 * 2
# factorial(2) == 2 * factorial(1) == 2 * 1
# factorial(1) == 1

120

In [ ]:
# for 문으로 구현해보기
result = 1 

for i in range(1,6):
  result *= i 

print(result)

120

In [ ]:
# 재귀함수로 문자열 반대로 출력하기

def string_reverse(s):
  if len(s) == 1 : # 얼리리턴 : 빠르게 리턴할 것들은 위에 둬서 파이썬이 빨리 연산할 수 있도록 하기 
    return s 
  return s[0] + string_reverse(s[1:])

string_reverse('hello world')

def string_reverse(s):
    if len(s) == 1:
        return s
    return string_reverse(s[1:]) + s[0]

string_reverse('hello')

# string_reverse('hello') == string_reverse('ello') + 'h' == 'olle' + 'h' == 'olleh'
# string_reverse('ello') == string_reverse('llo') + 'e' == 'oll' + 'e' == 'olle'
# string_reverse('llo') == string_reverse('lo') + 'l' == 'ol' + 'l' == 'oll'
# string_reverse('lo') == string_reverse('o') + 'l' == 'o' + 'l' == 'ol'
# string_reverse('o') == 'o'

'dlrow olleh'

In [ ]:
# for문으로 문자열 반대로 출력하기 

s = 'leehojun'
result = ''

for i in s:
    print('----------')
    print(i)
    print(f'연산 전 result : {result}')
    result = i + result
    print(f'연산 후 result : {result}')

result

----------
l
연산 전 result :
연산 후 result : l
----------
e
연산 전 result : l
연산 후 result : el
----------
e
연산 전 result : el
연산 후 result : eel
----------
h
연산 전 result : eel
연산 후 result : heel
----------
o
연산 전 result : heel
연산 후 result : oheel
----------
j
연산 전 result : oheel
연산 후 result : joheel
----------
u
연산 전 result : joheel
연산 후 result : ujoheel
----------
n
연산 전 result : ujoheel
연산 후 result : nujoheel

'nujoheel'

In [ ]:
# 재귀가 얼마나 비효율 적인지 보여주는 사례 

def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2) # 자기 자신을 두 번이나 부르게 됨 

fib(35)

9227465

# 연습문제

In [ ]:
# 연습문제 1. 다음 코드를 실행하면 출력되는 값을 순서대로 작성해보세요.

a = 'pithon'

def 함수1():

    def 함수2():
        print('love')  
        
    print('I') # 1

    함수2() # 2 
    return "python"
	

a = 함수1()
print(a) # 3

# I 
# love
# python

I
love
python

In [ ]:
# 연습문제 2 : 함수를 이용하여 계산기 프로그램을 만들어주세요.

def plus(num1, num2):
  return int(num1) + int(num2)

def minus(num1, num2):
  return int(num1) - int(num2)

def multiply(num1, num2):
  return int(num1) * int(num2)

def divide(num1, num2):
  return int(num1) / int(num2)

print('plus : ',plus(10,5))
print('minus : ',minus(10,5))
print('multiply : ',multiply(10,5))
print('divide : ',divide(10,5))

plus :  15
minus :  5
multiply :  50
divide :  2.0

In [ ]:
# lambda로 문제 풀어보기 

plus = lambda x, y: x + y
minus = lambda x, y: x - y
multiply = lambda x, y: x * y
divide = lambda x, y: x / y

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
# try, except 구문 

def plus(num1, num2):
    try:
        result = int(num1) + int(num2)
        return result
    except:
        return '연산할 수 없습니다.'

# TDD
print(f'plus : {plus(10, 5)}')
print(f'plus : {plus("10", "5")}')
print(f'plus : {plus("10", 5)}')
print(f'plus : {plus(10, "5")}')
print(f'plus : {plus("abc", 5)}')
print(f'plus : {plus(10, "abc")}')

In [ ]:
# 혹은 무한수로 나타낼 수 있다.

def plus(num1, num2):
    try:
        result = int(num1) + int(num2)
        return result
    except:
        return float("inf")

print(f'plus : {plus(10, 5)}')
print(f'plus : {plus("10", "5")}')
print(f'plus : {plus("10", 5)}')
print(f'plus : {plus(10, "5")}')
print(f'plus : {plus("abc", 5)}')
print(f'plus : {plus(10, "abc")}')

In [ ]:
# 연습문제 3 : x의 n제곱을 구하는 함수를 만들어주세요. 재귀함수를 이용하여 만들어야하며, x는 0이 아닙니다.


def 제곱(x,n):
  if n == 0: # 승수가 0이면 1 리턴
    return 1
  return x * 제곱(x, n-1)

제곱(2,2)

4

In [ ]:
# factory 함수
# 클로저

def factory(x):
    def 승수(n):
        return x ** n
    return 승수

제곱3 = factory(3)

# 실제 제곱3는 아래와 같습니다.
# def 승수(n):
#     return 3 ** n

제곱4 = factory(4)

제곱3(2)
제곱3(3)
제곱4(2)
제곱4(3)

27

## List (리스트)

- 순서가 있는 데이터입니다.
- 값의 수정이 가능합니다.

In [ ]:
l = [10, 20, 30, 40]

In [ ]:
l[0:]

[10, 20, 30, 40]

In [ ]:
# 수정이 가능하다 -- mutable한 객체다. <-> immutable한 객체다(문자열) 

l[0] = 1000

In [ ]:
# 행렬 모습 

data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
for i in range(len(data)):
  for j in range(len(data[1])):
    data[i][j] *= 2 

data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
# data[start:stop:step]

data = [10, 20, 30, 40, 50, 60, 70]
data[1:] # 20부터
data[1:-1] # 20부터 마지막까지
data[::2]
data[:] # 매우 중요

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
data = [10, 20, 30, 40, 50, 60, 70]
data2 = data
data2[0] = 100
data2, data

([100, 20, 30, 40, 50, 60, 70], [100, 20, 30, 40, 50, 60, 70])

In [ ]:
data = [10, 20, 30, 40, 50, 60, 70]
data2 = data[:] # 슬라이싱을 한 결과값을 가지기 때문에 원본 데이터에는 영향을 주지 않는다 
data2[0] = 100
data2, data

([100, 20, 30, 40, 50, 60, 70], [10, 20, 30, 40, 50, 60, 70])

## list의 사칙연산

In [ ]:
[1,2,3] + [1,2,3]

[1, 2, 3, 1, 2, 3]

In [ ]:
[1,2,3] * 2

[1, 2, 3, 1, 2, 3]

In [ ]:
# 얕은 곱하기는 메모리를 복사하지 않습니다

x = [1,2,3] * 2 
x[0]
x

In [ ]:
# depth가 깊어질 수록 메모리를 복사함
x = [[1,2,3] * 2 ] * 2 
x[0][0] = 1000
x

[[1000, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3]]

## 메서드

In [ ]:
l = [10, 20, 30, 40]
type(l), dir(l)

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'])

In [ ]:
# list에 값을 추가하고 싶을 때 : append 

l = [10, 20, 30, 40]

l.append(50)

print(l)

[10, 20, 30, 40, 50]

In [ ]:
# 특정 위치의 한 값을 삭제하고 싶을 때 : pop

l = [10, 20, 30, 40, 50]

l.pop() # 인덱스를 지정하지 않으면 맨 뒤 
l.pop(0) # 가장 앞의 값을 삭제 
l.pop(1) 

print(l)

[20, 40]

In [ ]:
# 값을 복사할 때 
# 그래도 copy는 method라서 슬라이싱이 더 빠름 

l = [10, 20, 30, 40, 50]

data = l.copy()
data[0] = 1000

print(l, data)

[10, 20, 30, 40, 50] [1000, 20, 30, 40, 50]

In [ ]:
# 특정 위치에 내가 원하는 값을 삽입하는 insert 

l = [10, 20, 30, 40, 50]

l.insert(2,10000)

print(l)

[10, 20, 10000, 30, 40, 50]

In [ ]:
# 어떤 값의 위치를 알아내는 index 

l = [10, 20, 30, 40, 50]

l.index(50)

4

In [ ]:
# 값을 지우는 remove, 하지만 첫번째 위치의 10만 지우게 된다. 

l = [10, 20, 30, 40, 50,10,10]

l.remove(10)

print(l)

[20, 30, 40, 50, 10, 10]

In [ ]:
## 만약 전부 다 지우고 싶다면?

l = [10, 20, 30, 40, 50,10,10]


for i in range(l.count(10)):
  l.remove(10)

print(l)

[20, 30, 40, 50]

In [ ]:
## filter 어떤 값을 찾아내거나, 조건에 맞는 코드를 추출할 때 사용 

def 함수(x):
  return x != 10 

l = [10, 20, 30, 40, 50,10,10]

list(filter(함수, l))

[20, 30, 40, 50]

In [ ]:
## 실무에서 많이 사용하는 코드

l = [10, 20, 30, 40, 50,10,10]
list(filter(lambda x : x != 10, l))

[20, 30, 40, 50]

In [ ]:
# 값을 뒤집는 reverse 
# 하지만 원본 값을 만지게 된다 

l = [10,20,30,10,20,30,1,2,55,11]

l.reverse()

l

[11, 55, 2, 1, 30, 20, 10, 30, 20, 10]

In [ ]:
# 값을 뒤집는 reversed 
# 원본 값을 만지지 않는다

l = [10,20,30,10,20,30,1,2,55,11]

print(list(reversed(l)))
print(l)

[11, 55, 2, 1, 30, 20, 10, 30, 20, 10]
[10, 20, 30, 10, 20, 30, 1, 2, 55, 11]

In [ ]:
# 값을 직접 만져서 정렬하는 sort 

l.sort()

l

[1, 2, 10, 10, 11, 20, 20, 30, 30, 55]

In [ ]:
# 값을 직접 만지지 않고 정렬하는 sorted 

sorted(l,reverse = True) # 내림차순이 가능하다

[55, 30, 30, 20, 20, 11, 10, 10, 2, 1]

In [ ]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv'], 
     [1, 2, 'likelion'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def 함수(x):
    return len(x[2])

print(list(sorted(l, key=함수)))
print(list(sorted(l, key=lambda x:len(x[2]))))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def 함수2(x):
    return x[0]

print(list(sorted(l)))
print(list(sorted(l, key=함수2)))
print(list(sorted(l, key=lambda x:x[0])))

# 3. 중앙에 위치한 값대로 정렬해주세요.
def 함수3(x):
    return x[1]

print(list(sorted(l)))
print(list(sorted(l, key=함수3)))
print(list(sorted(l, key=lambda x:x[1])))

[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv'], [20, 30, 'hojun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv'], [20, 30, 'hojun']]

In [ ]:
l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합대로 출력해주세요.
def 함수4(x):
    return sum(x)

print(list(sorted(l, key=함수4)))
print(list(sorted(l, key=lambda x:sum(x))))
print(list(sorted(l, key=sum))) # 각 배열이 sum 함수에 들어가게 되어서 sum만 해도 같은 값이 출력이 됨

[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]