<a href="https://colab.research.google.com/github/Sogum0503/LikeLion_DataSchool/blob/main/PYTHON/0501_%EA%B8%B0%EB%B3%B8%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 기본 입출력

## 1.1. 주석

주석(Comment) - 가장 중요하면서도 가장 많이 잊어버리는 것. 만약에 코드가 100줄 이상되는것이 주어졌는데 아무런 설명이 없다면 개인적으로도 당황스럽고, 업무적으로도 다시 그 코드를 분석하기 위해 시간이 낭비될 수 있음 

주석은 보통 코드가 어떤 내용을 포함하고 있는지. 이 문장이 의미하는 것이 무엇인지? 왜 이렇게 썼는지? 주의할점은 없는지? 추가로 알아야할 내용이 있는지? 에 대한 이정표 역할을하게 됩니다.

주석은 프로그램을 사용하는데 아무런 영향을 끼치지는 않지만 사실 많은 줄의 코드보다 더 도움이 되는건 한 줄의 주석이 될 수 있기 대문에 앞으로도 주석은 잘 사용해야합니다.

In [ ]:
#1. 주석 복습

# 1.1.1 주석 실습 - 예제 1

# 행 단위 주석입니다.

In [ ]:
"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""
print("Hello world")

In [ ]:
'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

## 1.2.파이썬 스타일 코드 대표 가이드라인

* 1. 들여쓰기는 공백 문자 네 개로 하자.
* 2. 한줄의 최대 글자는 79자로 한다.
* 3. 최상위 함수와 클래스 정의들은 두 줄씩 띄우자.
* 4. 파일은 UTF-8 또는 아스키(ASCII)로 인코딩하자.
* 5. 한 import 문에선 모듈 하나만 불러온다.
* 6. 소괄호나 중괄호, 대괄호 사이에 추가로 공백을 주지 말고, 쉼표 안에도 공백을 주지 말자,
* 7. 클래스 이름은 카멜케이스(CamelCase)를 따르자.
* 8. 예외명은 Error로 끝내자.
* 9. 함수 이름은 separated_by_underscores처럼 소문자와 밑줄 문자(_)를 이용해서 짓자.
* 10. 비공개인 속성이나 메서드 이름은 밑줄 문자로 시작하자(_private).

항상 이렇게 하라 라기 보다는 일종의 규약 가이드로써 향후 팀 프로젝트시 이러한 규칙들을 따른다면 오류를 줄이고, 가독성과 유지보수가 편해지기 때문에 한번 알아볼 것임

결국 사람의 시간을 가장 효율적으로 사용하기 위한 가이드라인

* 파이썬의 철학 : 인간의 시간이 컴퓨터 보다 중요하다.
* 결국 중요한건 일관성이다.

## 1.3 블럭 주석

* 바로 뒤에 오는 코드를 설명하고
* 주석 내용이 다루는 코드와 동일한 들여쓰기 레벨에서 표기한다.
* 한개의 #을 달고 주석을 기록한다.

In [ ]:
# 예제 1.3.1
# 유저의 이름을 입력받고, 문자형이 아닌 것을 주의하세요.

user_input = input("유저 이름을 입력하세요")
normalized_data = normalizednormalize_data(user_inputs)

## 1.4. 인라인 주석 
- 코드와 같은 줄에 기록
- #을 붙인 후 내용 기록
- 코드와 적어도 **두칸 이상 분리**한다.

In [ ]:
# 예제 1.4.1

연봉_인센포함 = 초기연봉 * 1.02   # 초기연봉에 2% 상승된 것이 인센포함된 연봉(23.05.01) 변경시 수정 바람

## 1.5. 문서 형태 주석
- 모듈, 클래스, 함수, 메소드 등 정보를 제공하는 용도 docstring이라고 함
- 다른 주석과 달리 쌍따옴표나 따움표 3개로 구성
- 함수 바로 밑에 내용을 적는다
- 여러 줄로도 적을 수 있다

In [ ]:
# 1.5.1. 문서 주석 - 한줄 형태 

def quicksort():
  """ quicksort를 사용하여 보다 빠르게 정렬하는 함수"""

# 1.5.2. 문서 주석 - 두 줄 이상의 형태 

def salary_increase(salary, percentage, rating): 
    """ 성과에 의한 연봉 변화 함수
    1 - 2등급 - 연봉 10% 상승
    3 - 4등급 - 연봉 5%  상승
    5 - 6등급 - 연봉 동결
    7 - 10등급 - 연봉 5% 삭감
    """

# 2. 레이아웃 

[임포트]
* import는 가장 위에 기록 한다.
* 한줄에 하나씩 쓰는것을 추천한다.

[들여쓰기]
* 들여쓰기는 4칸씩 띄어쓰기를 꼭 지킨다. - Tab을 활용해도 되지만 통일 필요 (수업때는 Tab)
* 함수의 줄 바꿈시에는 구분이 가능하도록 한다.

[탭과 스페이스]
* 탭보다는 스페이스를 사용하도록 노력하고, 섞어서 쓰지 말자

[글자 길이 / 줄 바꿈]
* 주석은 72자정도 / 최대 글자수는 79자 정도로 제한하는 것이 좋음

[빈줄 넣기]
* 일반적으로 클래스나 함수는 두줄로 분리해서 구분하기 좋게 한다.
* 그러나 클래스나 함수 안에 함수는 논리적으로 구분이 되는 부분에서 한줄을 띄워도 좋다.

[연산하는 경우]
* 연산을 많이 할 경우에는 옆으로 글을 이어나가는 것보다는 밑으로 추가한다.)

In [ ]:
# 2.1. import 예시 

# 좋은 예 
import os 
import pandas as pd
import sklearn 

# 안좋은 예
import os, sys, pandas
from pandas import * # wildcard 사용은 소스의 모호함을 증가시켜 오류를 발생시킬 수 있다

In [ ]:
# 2.2 띄어쓰기 / # 2.3 탭과 스페이스

# 기본 띄어쓰기 - 둘다 실행은 된다.
for i in range(1, 10):
  print(i) # Tab

for i in range(1, 10):
    print(i) # 띄어쓰기 4칸 

# 파라미터가 여러가지 인 경우
# 좋은 예시
sample_def(var1, var2
          var3, var4) #일반적인 툴에서는 다음과 같이 enter를 사용하는 경우 띄어지게 된다.

# 안좋은 예시 - 가독성이 떨어진다.
sample_def(var1, var2
  var3, var4)

In [ ]:
# 2.3 연산하는 경우
# 좋은 예시
sum_variable = (val1
                + val2
                +_val3
                + val4
)

# 3. 파이썬 스타일 작명

[상수]
* 이름이 길어지면 underbar(_)로 구분한다.
* 대문자로 작성

[패키지/모듈]
* 가급적 짧고 알기 쉽게 만든다.
* 패키지나 모듈 이름은 모두 소문자로만 작성한다.
* 모듈 이름이 만약 길어지면 underbar(_)로 구분한다.
* 패키지 이름에는 underbar사용 자제

[클래스]
* 클래스 이름은 CamelCase(단어 첫부분은 대문자)로 작성

[메소드] 
* 메소드 이름은 snake_tail방식으로 작성하고 단어별 underbar(_)로 구분한다.
* 인스턴스 메소드의 첫번째인자는 항상 self로 시작한다.
* 클래스 메소드의 첫번째 인자는 항상 cls로 시작한다.

In [ ]:
# 웬만하면 한글 변수명은 자제 

# 3.1. 상수/ 함수/ 변수 

# [상수] 모두 대문자
PI = 3.14 
LONG_CONSTANT_EXAMPLE = 12345678

# [함수/변수]
# snake case 
my_age = 29 

# good 
def python_function_name(arg1, arg2):
# bad
def PythonFunctionName(arg1, arg2)"

# 3.2. 모듈 (snake case 허용)
# 패키지 이름
import mypackage # good 
import modulename # good 

import ModuleName # bad 
import module_name # bad

# 3.3. 클래스 (Pascal case)
class MyClass:
  pass 

# 3.4. 메소드
class MyClass:
  ''' 인스턴트 메소드 '''
  def instance_method(self, var1, var2):
    pass 
  
  ''' 클래스 메소드'''
  def class_method(cls, var1, var2):
    pass

# 4. 공백 문자 

* 할당을 할 경우에는 공백 하나만 사용
* 앞 뒤로 공백 한개씩만 사용하자
* 괄호와 콜론 앞/뒤로는 공백을 주지 말자

In [ ]:
# 4.1 할당

# Good

x = 1
y = 2
long_variable = 3

# Bad

x             = 1
y             = 2
long_variable = 3

# 4.2 앞 뒤로 공백 1개씩

# Good

i = i + 1
submitted += 1
x = x*2 - 1

# Bad 

i=i+1
submitted +=1
x = x * 2 - 1

# 4.3 괄호, 콜론 앞/뒤로는 공백을 주지 않습니다.

# Good
router(1)
router[1:3]
server['centOs']
Class MyClass:

# bad

router (1)
router[1: 3]
server ['centos']
Class MyRouter :

# 5. 기본 입출력

* 변수 - X = 10이라는 코드가 있을때 10을 x로 할당한다고 한다. 변수에는 숫자, 문자등 다양한 자료형태가 들어갈수 있으며, 자료형태 확인은 type함수를 통해 확인할 수 있다.
* input - input()함수로 데이터를 입력하면 자료를 입력받는 함수 - 기본으로는 문자형을 입력받는다. 
* print - print()함수로 데이터를 출력하는 함수

In [5]:
#5-1. 본인 이름 출력 하기 - Input 문자형(기본)

print(f'본인 이름을 입력 하세요')
my_name = input()
print(f"제 이름은 {my_name} 입니다.")

본인 이름을 입력 하세요
김경미
제 이름은 김경미 입니다.

In [7]:
#5-2. 두 숫자의 합 구하기 - Input 숫자형

print(f"두 숫자의 합을 구하기 입니다.")
sum_1 = int(input("첫번째 숫자를 입력하세요 : "))
sum_2 = int(input("두번째 숫자를 입력하세요 : "))
# input은 기본적으로 문자형을 받기 때문에 숫자형쓰고 싶으면 int, float
print(sum_1 + sum_2)

두 숫자의 합을 구하기 입니다.
첫번째 숫자를 입력하세요 : 1
두번째 숫자를 입력하세요 : 1
2

In [8]:
#02-1. print 복습

# print('3. 제 이름은' ,이름 , '입니다.','제 나이는', 나이, '입니다.')
# print('3. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))

name = "김경미"
age = 29
print(f"제 이름은 {name} 이고, 나이는 {age}입니다.")
print(f"제 이름은 {name} 이고 {age} 살입니다.", end="!!!\n")

제 이름은 김경미 이고, 나이는 29입니다.
제 이름은 김경미 이고 29 살입니다.!!!

## [막간~]  chatgpt  API

In [ ]:
pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.5-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.6/71.6 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 30.7 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2022.12.7)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 4.3 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 8.5 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 10.1 MB/s eta 0:00:00
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.5 yarl-1.9.2

In [ ]:
import os 
import openai

In [ ]:
# Open AI API Key 추가 

openai.api_key ='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'

question = input("무엇을 물어볼까요?:")

completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": question}
  ]
)

print(completion.choices[0].message.content)

무엇을 물어볼까요?:인사해줘
안녕하세요! 저는 인공지능 챗봇입니다. 즐거운 대화되시길 바랍니다. :)

In [ ]:
# 함수로 만들어 볼 수도 있다. 

def chat_gpt(message):
  openai.api_key ='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'

  completion = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
      {"role": "user", "content": question}
    ]
  )

  print(completion.choices[0].message.content)

In [ ]:
chat_gpt("인사해줘")

안녕하세요! 저는 인공지능 어시스턴트입니다. 어떤 도움이 필요하신가요?

In [ ]:
# 기본 입출력 복습 
# 실습 
#1. () -> 변수
#2. f-string으로 작성
#3. print()문으로 출력 

# 안녕하세요 저는 ()입니다. 나이는 ()입니다.
# 저의 MBTI는 ()입니다. 제 성격은 ()입니다.
# 저의 전공은 ()이고, 관심분야는 ()입니다.
# 제가 취업하고 싶은 기업은 ()이고, 원하는 연봉은 ()원입니다.
# 마지막으로 제가 하고 싶은 말은? ()입니다.

name = "김경미"
age = "29"
mbti = 'istp'
personality = '약간 소심함'
measure = '심리학'
interesting = '이커머스/교육 플랫폼'
job = '원티드/인프런'
money = '주는대로 받겠습니다'
last = '잘 부탁드립니다.'

print(f"안녕하세요 저는 {name}입니다. 나이는 {age}입니다. \n"
      f"저의 MBTI는 {mbti}입니다. 제 성격은 {personality}입니다.")

안녕하세요 저는 김경미입니다. 나이는 29입니다.
저의 MBTI는 istp입니다. 제 성격은 약간 소심함입니다.

# 6. 기본 입출력 - 추가

In [ ]:
# 숫자를 문자열로 바꾸기

ex1 = 62
ex1_str = str(52)

print(f"ex1은 {ex1}입니다. \n"
      f"ex1_str은 {ex1_str}입니다.")

print(type(ex1))
print(type(ex1_str))

# 문자를 숫자로 바꾸기 

ex2_str_int = int(ex1_str)

print(f"ex2_str_int은 {ex2_str_int}입니다. \n"
      f"ex1_str은 {ex1_str}입니다.")

print(type(ex2_str_int))
print(type(ex1_str))

ex1은 62입니다.
ex1_str은 52입니다.
<class 'int'>
<class 'str'>

 ex2_str_int은 52입니다.
ex1_str은 52입니다.
<class 'int'>
<class 'str'>

In [ ]:
# 문자열 자르기 : split() 

a = "10 20 30 40 50"

print(a.split(" ")) # list 형태로 반환이 됨

['10', '20', '30', '40', '50']

In [ ]:
# 문자열과 In 연산자 

print("멋쟁이"  in "멋쟁이 사자처럼") # 찾을 것을 앞에 두고, 전문을 뒤에 두기 
print("위니브"  in "멋쟁이 사자처럼")

True
False

In [ ]:
# 문자열과 find 함수 

ex3 = "멋쟁이 사자처럼"

print(ex3.find("사자")) # 해당 문자열이 시작되는 idnex를 알려준다

4

In [ ]:
# 공백 제거 strip 함수 
# txt, csv -> python "멋쟁이 사자처럼"(보기) -> "   멋쟁이 사자처럼   "(실제)

ex4 = "   안녕하세요 멋쟁이 사자처럼 입니다   "
print(ex4)

print(ex4.strip()) # 앞뒤 공백 제거 
print(ex4.rstrip()) # 오른쪽 공백 제거 
print(ex4.lstrip()) # 왼쪽 공백 제거

   안녕하세요 멋쟁이 사자처럼 입니다
안녕하세요 멋쟁이 사자처럼 입니다
   안녕하세요 멋쟁이 사자처럼 입니다
안녕하세요 멋쟁이 사자처럼 입니다

# 7. Random 함수의 활용

* 데이터 분석시에 무작위 테스트를 하거나 샘플을 뽑고싶을 때 사용 -> 굉장히 많이 사용됨 
* 마케팅 시 난수 추첨을 할 때도 많이 사용이 됨

In [11]:
# Random 함수 사용 

import random

In [12]:
# 1. random 함수의 기본 사용 

print(random.random()) # 0~1사이의 실수가 출력이 됨

print(random.uniform(1, 10)) # 특정 구간 사이의 실수 값이 출력됨 

print(random.randint(1,10)) # 특정 구간 사이의 정수 값이 출력됨

print(random.randrange(0,101,2)) # 짝수만 뽑아줘
print(random.randrange(1,101,2)) # 홀수만 뽑아줘 
 
print(random.choice("Hello")) # 랜덤하게 하나의 원소를 선택한다 
print(random.choice(['바나나','사과','오렌지']))

print(random.sample([1,2,3,4,5],3)) # 랜덤하게 여러 원소를 출력함

0.06885743538955857
3.945022682629002
7
12
61
l
오렌지
[5, 1, 3]

In [13]:
# 실습 1. 로또번호 1~45번까지 6개 번호 추출해보기

random.sample(range(1,46),6)

[36, 40, 8, 6, 5, 34]

In [14]:
# shuffle 함수  

items = [1,2,3,4,5]
random.shuffle(items)
print(items)

[3, 1, 5, 2, 4]

In [19]:
# 실습 2. 로또번호 1~45번까지 6개 번호 추출해보기
# seed 고정

random.seed(501)
lotto = random.sample(range(1,46), 6)
print(f"로또번호는 {lotto}입니다.")

로또번호는 [41, 19, 45, 23, 16, 21]입니다.

In [ ]:
#.실습 2. 보드게임 주사위 2개 던지기 -> 난수 추첨
# 랜덤으로 1부터 6까지 숫자를 생성해서

# die1 die2 합을 출력하는 프로그램을 만드세요

In [20]:
#. 실습 3. 오늘의 점심 메뉴 
# -> 리스트로 가져와서 오늘 먹을 점심메뉴를 선택하는 
# 랜덤 프로그램을 만들어보세요

lunch = ['맥도날드','도시락','컵라면']

random.choice(lunch)

'도시락'

In [21]:
# 실습 4. 가위바위보 게임 만들기
# 컴퓨터 낸거는 랜덤으로 바뀌어야 함
computer = ['가위','바위','보']

# 내가 낸거는 input()
computer_select = random.choice(computer)

# 승패는 상관없이 서로 무엇을 냈는지 출력
user = input('가위 바위 보 중 하나를 내세요')

# 컴퓨터는 {}
print(f'컴퓨터는 {computer_select}를 냈습니다.')

# 나는 {}
print(f'나는 {user}를 냈습니다.')

가위 바위 보 중 하나를 내세요보
컴퓨터는 보를 냈습니다.
나는 보를 냈습니다.

# 8. 시간 함수

In [22]:
# time 함수 

import time

In [23]:
time.time()

1682927204.5062485

In [24]:
time.ctime()

'Mon May  1 07:46:50 2023'

In [25]:
time.localtime()

time.struct_time(tm_year=2023, tm_mon=5, tm_mday=1, tm_hour=7, tm_min=47, tm_sec=0, tm_wday=0, tm_yday=121, tm_isdst=0)

In [29]:
import datetime 
from datetime import datetime

In [30]:
now = datetime.now()

now

datetime.datetime(2023, 5, 1, 7, 47, 47, 53706)

In [31]:
# 현재 날짜

print(f"현재 날짜는 {now.date()}")

현재 날짜는 2023-05-01

In [32]:
# 현재 시간 

print(f"현재 시간은 {now.time()}")

현재 날짜는 07:47:47.053706

In [33]:
# 현재 연도 

print(f"현재 연도는 {now.year}")

현재 연도는 2023

In [35]:
# 현재 월과 일 
print(f"현재 월은 {now.month}이고, 현재 일은 {now.day}이다.")

# 시 hour 분 minute 초 second 요일 weekend

현재 월은 5이고, 현재 일은 1이다.

In [36]:
import pytz 
datetime.now(pytz.timezone('UTC'))

datetime.datetime(2023, 5, 1, 7, 49, 34, 410876, tzinfo=<UTC>)

In [37]:
datetime.now(pytz.timezone('Asia/Seoul'))

datetime.datetime(2023, 5, 1, 17, 4, 40, 562755, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [38]:
from datetime import timedelta, timezone
datetime.now(timezone(timedelta(hours=9)))

datetime.datetime(2023, 5, 1, 17, 4, 48, 359354, tzinfo=datetime.timezone(datetime.timedelta(seconds=32400)))

In [40]:
from datetime import datetime
from datetime import timedelta, timezone


now = datetime.now(timezone(timedelta(hours=9)))

print("현재 : ", now)
print("현재 날짜 : ", now.date())
print("현재 시간 : ", now.time())
print("timestamp : ", now.timestamp())
print("년 : ", now.year)
print("월 : ", now.month)
print("일 : ", now.day)
print("시 : ", now.hour)
print("분 : ", now.minute)
print("초 : ", now.second)
print("마이크로초 : ", now.microsecond)
print("요일 : ", now.weekday())
print("문자열 변환 : ", now.strftime('%Y-%m-%d %H:%M:%S'))

현재 :  2023-05-01 17:05:35.660842+09:00
현재 날짜 :  2023-05-01
현재 시간 :  17:05:35.660842
timestamp :  1682928335.660842
년 :  2023
월 :  5
일 :  1
시 :  17
분 :  5
초 :  35
마이크로초 :  660842
요일 :  0
문자열 변환 :  2023-05-01 17:05:35

# 8. 파이썬 멈추기

In [41]:
import time # sleep 함수 사용

In [44]:
# 초 단위 테스트 

print('-' * 30)
now = datetime.now(timezone(timedelta(hours = 9)))
print(now.strftime('%H:%M:%S')) # 현재 시간 출력 

time.sleep(5) # 5초 딜레이

now = datetime.now(timezone(timedelta(hours = 9)))
print(now.strftime('%H:%M:%S'))

time.sleep(10) # 10초 딜레이

print(now.strftime('%H"%M:%S'))

------------------------------
17:08:50
17:08:55
17"08:55

# 9. 파이썬 프로그램 시간 측정

In [47]:
from time import process_time

start = time.time() # 측정 시작

print("★ 구구단을 출력합니다.\n")
for x in range(2, 10):
    print("------- [" + str(x) + "단] -------")
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)

print("---------------------")

end = time.time() 

print('프로그램을 수행하는데', end - start, '초가 걸렸습니다.')

★ 구구단을 출력합니다.

------- [2단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------- [3단] -------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------- [4단] -------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
------- [5단] -------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------- [6단] -------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
------- [7단] -------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
------- [8단] -------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
------- [9단] -------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
---------------------
프로그램을 수행하는데 0.0284268856048584 초가 걸렸습니다.

In [48]:
start = process_time()

print("★ 구구단을 출력합니다.\n")

for x in range(2, 10):
    print("------- [" + str(x) + "단] -------")
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)

print("---------------------")

end = process_time()

print('프로그램을 수행하는데', end - start, '초가 걸렸습니다.')

★ 구구단을 출력합니다.

------- [2단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------- [3단] -------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------- [4단] -------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
------- [5단] -------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------- [6단] -------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
------- [7단] -------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
------- [8단] -------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
------- [9단] -------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
---------------------
프로그램을 수행하는데 0.015534676999997998 초가 걸렸습니다.