<a href="https://colab.research.google.com/github/Sogum0503/LikeLion_DataSchool/blob/main/PYTHON/0501_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 리스트

In [ ]:
# 1차원 리스트 

a = [10000, 2, 1, 3]

print(type(a))

<class 'list'>

In [ ]:
b = list('leehojun') 

print(b)
print(type(b))

['l', 'e', 'e', 'h', 'o', 'j', 'u', 'n']
<class 'list'>

In [ ]:
# 다차원 리스트 

c = [[1,2,'leehojun'],
     [11,22,33],
     [10,20,30]]

print(c)

[[1, 2, 'leehojun'], [11, 22, 33], [10, 20, 30]]

In [ ]:
# 다차원 리스트의 인덱싱 

a[0][2][:3]

'lee'

## 1.1. 리스트 복습

In [1]:
#1.1.1 리스트 생성

List_01 = []
print(f"첫번째 리스트 예제의 값은 : {List_01}")

List_02 = list()
print(f"두번째 리스트 예제의 값은 : {List_02}")

첫번째 리스트 예제의 값은 : []
두번째 리스트 예제의 값은 : []

In [2]:
# 1.1.2 리스트 생성 - 여러 형태의 리스트

# 단일 자료형 리스트
List_03 = [10, 55, 20, 75]
print("세번째 리스트 예제의 값은 : " , List_03)

# 복합 자료형 리스트(문자, 숫자)
List_04 = [1000, 10000,'Lion', 'Weniv', 'Coding'] # 숫자와 문자열이 같이 있다. 
print("네번째 리스트 예제의 값은 : " , List_04)

# 복합 리스트 - 리스트 안에 리스트
List_05 = [1000, 10000, ['Lion', 'Weniv', 'Coding']]  
print("다섯번째 리스트 예제의 값은 : " , List_05)

# 복합 자료형 리스트(3가지 이상)
List_06 = [54.42, 'not', 3, 4, False, 3.14159] # 숫자, 실수, 문자, 부울형이 함께 있다 
print("여섯번째 리스트 예제의 값은 : " , List_06)

세번째 리스트 예제의 값은 :  [10, 55, 20, 75]
네번째 리스트 예제의 값은 :  [1000, 10000, 'Lion', 'Weniv', 'Coding']
다섯번째 리스트 예제의 값은 :  [1000, 10000, ['Lion', 'Weniv', 'Coding']]
여섯번째 리스트 예제의 값은 :  [54.42, 'not', 3, 4, False, 3.14159]

In [3]:
# 1.1.3 리스트 생성 - 이차원 리스트

kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]

score_all = [kor, math, eng]

print(score_all)

[[10, 20, 30], [30, 40, 50], [60, 70, 80]]

In [4]:
# 1.1.4 리스트 생성 - range

a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 1.1.2 리스트 인덱싱/슬라이싱

리스트 인덱싱과 슬라이싱은 간단하지만 사용하다보면 헷갈릴 경우가 많습니다. 보통 데이터의 구조가 2차원 이상의 구조이고, 데이터를 정제하다보면 헷갈릴 경우가 많기 때문에 복습해보면서 잘 알아둡시다!

* 리스트 인덱싱 - 휴대폰 단축번호를 생각하면 쉬움 - 1번은 어머니  2번은 아버지 3번은 선생님
* 리스트 슬라이싱 - 휴대폰 그룹을 생각하면 쉬움 - 어머니,아버지는 가족 선생님,친구1은 학교

In [5]:
# 리스트 인덱싱 예제

# 휴대폰 번호 순서
Phone_num = ['어머니', '아버지', '선생님','친구1']

# 리스트 인덱싱
print(Phone_num[0])
print(Phone_num[2])

# 리스트 슬라이싱
# 리스트 슬라이싱때 맨 마지막 숫자 +1 주의
family = Phone_num[0:2]
school = Phone_num[2:4]

print(family)
print(school)

어머니
선생님
['어머니', '아버지']
['선생님', '친구1']

In [6]:
score_all = [kor, math, eng]

print(score_all)

[[10, 20, 30], [30, 40, 50], [60, 70, 80]]

In [7]:
# 2차원 리스트 인덱싱/슬라이싱

# 1.1.3 리스트 생성 - 이차원 리스트

kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]

score_all = [kor, math, eng]

print(score_all)

print(score_all[0][1]) # 국어 점수 / 2번째 학생
print(score_all[1][2]) # 수학 점수 / 3번째 학생

[[10, 20, 30], [30, 40, 50], [60, 70, 80]]
20
50

In [8]:
# 리스트 갱신하기

# 휴대폰 번호 순서
Phone_num = ['어머니', '아버지', '선생님','친구1']

Phone_num[3] = '이모'

print(Phone_num)

['어머니', '아버지', '선생님', '이모']

In [9]:
# 결측값을 대체

# 숫자열
['어머니', '아버지', '선생님', '', '.', '.']

# 문자열
['어머니', '아버지', '선생님', '', '', '']

['어머니', '아버지', '선생님', '', '', '']

In [10]:
# 리스트 갯수 파악하기

len(Phone_num)

4

#1.1.3 리스트 함수

주로 사용하는 리스트 함수에 대해 복습해봅시다.

[데이터 추가 함수]
* append() 리스트 맨 마지막에 인덱스 추가
* extend() 기존 리스트에 새로운 리스트를 합침
* insert() 특정 위치에 값을 추가

[데이터 제거 함수]
* pop() 리스트 끝에서 부터 하나씩 꺼내어 반환한 뒤 삭제
* remove() 리스트에 있는 특정값을 제거
* del - 특정 인덱스 위치에 있는 값을 제거
* clear() 리스트 안에 있는 원소를 다 비우는 함수

[데이터 정렬 함수]
* sort() 오름차순으로 정렬(내림차순의 경우 reverse = True)
* reverse() 값의 순서를 거꾸로 뒤집어서 사용

[데이터 중복 확인]
* count("특정값") 특정값이 몇개나 중복으로 있는지 체크 가능

[데이터 위치 확인]
* index()

In [ ]:
# 리스트 함수 실습
l = [1, 2, 3]
dir(l) # dir을 통해 사용할 수 있는 함수(메서드) 확인 가능

In [ ]:
# 버스 승객 탑승 

# 리스트 함수를 사용해서 실습할 것
# 상황 1. 버스에 버스기사 아저씨가 탑승해서 운행가능 

bus = []
print(bus)

In [ ]:
# 상황 1. 버스기사 아저씨가 탑승을 하려면
bus.append('버스기사아저씨')
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
# 상황 2. 버스에 철수가 탑승을 했다.
bus.append('철수')
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
# 상황 3. 선생님이 아이 3명을 데리고 탑승했어요.
kinder = ['선생님','아이1','아이2','아이3']
bus.extend(kinder)

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
# 상황 4. 노인 한분이 탑승하셨어요
# insert()

bus.insert(1, '노인')

In [ ]:
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
# 아이의 위치 확인
kid1 = bus.index('아이1')
print(kid1)

In [ ]:
# 노인분이 내리고자 할때
bus.remove('노인')

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
# 상황 6. 선생님이 아이들을 한명 한명 인원 체크를 하며 내리려고 하고 있어요.
# 인원체크 후에 선생님이 마지막으로 내릴거에요

bus.pop()

In [ ]:
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
bus.pop()

In [ ]:
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

range(0, 10)

In [ ]:
bus.pop()
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
bus.clear()

###1.1.4 리스트 연산

[리스트 연산]

* 리스트 덧셈
* 리스트 곱셉
* in 연산

In [ ]:
# 리스트 덧셈

company1 = ['멋쟁이사자처럼']
company2 = ['위니브']
company3 = ['테킷']

In [ ]:
company_all =[company1 + company2 + company3]

In [ ]:
print(company_all)

In [ ]:
company_all_01 = company1 + company2 + company3

In [ ]:
print(company_all_01)

In [ ]:
# 리스트 곱셈

company1 * 3

In [ ]:
# 리스트내의 요소 찾기
'멋쟁이사자처럼' in company_all_01

In [ ]:
# 연습문제 1. 정수 5개를 Input으로 리스트형태로 입력받아서 평균을 내보기
num_list = []

# 1개 입력받을때마다 추가가 되어서
# 5개를 받을때는 리스트안에 값이 5개가 있어야 함 

# 5개 값 받기 
for i in range(5):
  num = int(input())
  num_list.append(num)

# 평균 구하기 
num_avg = sum(num_list)/len(num_list)
print(average)

1
2
4
4
5
3.2

### 1.1.5. 패킹과 언패킹
- 딥러닝, 머신러닝 때 많이 사용함

In [ ]:
t = [1, 2, 3] # 패킹

In [ ]:
a, b, c = t # 언패킹

In [ ]:
print(t)
print(a)
print(b)
print(c)

[1, 2, 3]
1
2
3

### 1.1.6. 리스트 컴프리헨션

In [11]:
# 기본 리스트에 값 채워넣기 

li = []

for i in range(5):
  li.append(i)

print(li)

[0, 1, 2, 3, 4]

In [ ]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
# 1) 수식 적용 

[i * 10 for i in range(5)]

[0, 10, 20, 30, 40]

In [ ]:
# 2) 조건문 적용

[i for i in range(5) if i%2 == 0]

[0, 2, 4]

### 1.1.7 다양한 방식의 리스트 출력

In [ ]:
# enumerate() 함수 
# 데이터 법이 많이 개정됨 
# 순서대로 값에 인덱싱을 해주는 함수 

for i, v in enumerate(['가위','바위','보']):
  print(i, v)

0 가위
1 바위
2 보

In [ ]:
# zip 함수
# a와 b를 결합하는데에 자주 사용된다. 

alist = ['가위','바위','보']
blist = ['가위','바위','보']

for a, b in zip(alist, blist):
  print(a,b)

가위 가위
바위 바위
보 보

In [ ]:
for x, y in zip(range(10), range(10)):
  print(x, y)

<class 'int'> <class 'int'>
<class 'int'> <class 'int'>
<class 'int'> <class 'int'>
<class 'int'> <class 'int'>
<class 'int'> <class 'int'>
<class 'int'> <class 'int'>
<class 'int'> <class 'int'>
<class 'int'> <class 'int'>
<class 'int'> <class 'int'>
<class 'int'> <class 'int'>

In [12]:
dict_num = {x:y for x, y in zip(range(10),range(10))}
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [13]:
#enumerate & zip 함수

alist = ['가위', '바위', '보']
blist = ['보', '가위', '바위']
for i, (a, b) in enumerate((zip(alist, blist))):
  print(i, a, b)

0 가위 보
1 바위 가위
2 보 바위

# 2. tuple

In [ ]:
# 튜플 생성 예제

tuple_sample = (1,2)

type(tuple_sample)

tuple

In [ ]:
# 값 하나만 넣고싶다면 꼭 콤마를 넣어야 한다

tuple_sample2 = ("뉴진스",)

In [ ]:
len(tuple_sample)

2

In [ ]:
# 수정이 불가하다 

tuple_sample2[1] = "블랙핑크"

TypeError: ignored

In [ ]:
# 튜플 인덱싱 

print(tuple_sample[0])
print(tuple_sample[:]) # 슬라이싱도 가능하다

1
(1, 2)

In [ ]:
# 튜플에서 사용할 수 있는 함수 

b = (5,2,1,3,4)

print(b)
print(b.index(3)) # index 사용 가능
print(b.count(2)) # count 사용 가능

(5, 2, 1, 3, 4)
3
1

In [ ]:
# 튜플 연산 

c = (6,7,8,9,10)

print('b + c', b + c )
print('c * 3', c * 3 )

TypeError: ignored

In [ ]:
# 튜플 또한 패킹과 언패킹이 가능하다 

t = ('a','b','c','d')

a,b,c,d = t

print(t)
print(a)
print(b)
print(c)
print(d)

('a', 'b', 'c', 'd')
a
b
c
d

# 3. 딕셔너리

In [ ]:
# 김진환 : 데이터 분석

In [ ]:
# 딕셔너리 기초

x = {}
y = dict()

print(x, type(x))
print(y, type(y))

{} <class 'dict'>
{} <class 'dict'>

In [ ]:
# 딕셔너리 생성하기 

a = {'name' : '김진환',
     'job' : '데이터 분석'}

print(a)

{'name': '김진환', 'job': '데이터 분석'}

In [ ]:
# 딕셔너리에 값 추가 

a['address'] = 'Seoul'

print(a)

{'name': '김진환', 'job': '데이터 분석', 'address': 'Seoul'}

In [ ]:
# 딕셔너리의 개수 

print(a, ",", len(a))

{'name': '김진환', 'job': '데이터 분석', 'address': 'Seoul'} , 3

## 3.1. 딕셔너리 함수

In [ ]:
# key 값만 가져오는
print(f'key 값은 {a.keys()} 입니다.')

# Value 값만 가져오는
print(f'value 값은 {a.values()} 입니다.')

# 전체 다 가져오는 
print(f'전체값은 {a.items()} 입니다.')

key 값은 dict_keys(['name', 'job', 'address']) 입니다.
value 값은 dict_values(['김진환', '데이터 분석', 'Seoul']) 입니다.
전체값은 dict_items([('name', '김진환'), ('job', '데이터 분석'), ('address', 'Seoul')]) 입니다.

In [ ]:
'name' in a.keys()

True

In [ ]:
('job', '데이터 분석') in a.items()

True

In [ ]:
# 값 삭제 

del a["name"]

print(a)

{'job': '데이터 분석', 'address': 'Seoul'}

# 세트(set)

In [ ]:
empty_set = set()

In [ ]:
# 세트에 값 추가

python_set = set(['판다스','넘파이'])
print(python_set)

{'넘파이', '판다스'}

In [ ]:
# 순서를 고려하지 않는 특징이 있다 

test_set = set('python')
test_set

{'h', 'n', 'o', 'p', 't', 'y'}

In [14]:
# 세트 생성

Set_1 = {1,2,3}
print(Set_1)

# 요소 추가
Set_1.add(4)
print(Set_1)

# 여러자료 추가
Set_1.update([5,6,7,8,9,10])
print(Set_1)

# 요소 제거 - 특정 순서
Set_1.remove(1)
print(Set_1)

# 요소 제거 - 특정 값 삭제
Set_1.discard(10)
print(Set_1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
# 세트 연산

s1 = set(['파이썬', 'SAS', 'R', 'SQL'])
s2 = set(['파이썬', '파이토치', '텐서플로', 'SQL'])

print(s1.union(s2)) # 합집합

{'파이토치', 'SQL', '텐서플로', '파이썬', 'R', 'SAS'}

In [16]:
print(s1.intersection(s2)) # 교집합

{'파이썬', 'SQL'}

In [ ]:
print(s1.difference(s2)) # 차집합

In [17]:
# Set -> LIST

s1 = set(["파이썬", "SAS", "R", "SQL"])

s1_list = list(s1)

print(s1, type(s1))
print(s1_list,type(s1_list))

{'파이썬', 'SAS', 'R', 'SQL'} <class 'set'>
['파이썬', 'SAS', 'R', 'SQL'] <class 'list'>

In [18]:
s1_list_tuple = tuple(s1_list)
print(s1_list_tuple, type(s1_list_tuple))

('파이썬', 'SAS', 'R', 'SQL') <class 'tuple'>

In [19]:
s1_list_tuple_set = set(s1_list_tuple)
print(s1_list_tuple_set, type(s1_list_tuple_set))

{'파이썬', 'SAS', 'R', 'SQL'} <class 'set'>